<html>
<head>
	<title>Career Opportunities at All West Coach Lines, Inc.</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width">
	<meta name="format-detection" content="telephone=no">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	<!-- <link rel="stylesheet" href="/css/deploy.css"> -->
</head>
<body>
	<!-- HEADER -->
	<header>
		<div class="container-fluid">
			<div class="row wrapper">
				<div class="col-sm-12">
					<img src="images/logo.png" alt="" class="logo">
					<ul class="nav">
						<li id="contact">
							Contact
						</li>
						<li id="about">
							About
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
	<!-- HERO -->
	<div class="container-fluid hero">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1 data-animation="fadeInUp">
					Career Opportunities
				</h1>
				<h2 data-animation="fadeInUp">
					at All West Coachlines, Inc.
				</h2>
			</div>
		</div>
		<div class="row wrapper">
			<div class="col-sm-12">
				<div class="job-cards">
					<div class="job-card" data-animation="fadeInUp">
						<div class="right">
							<a class="learn-more" href="https://coachusa.jobs/index.php?option=com_recsite_front&task=showVacancy&id=76240&lang=en" target="_blank">
								Learn more
							</a>

							<a href="https://coachusa.jobs/vacancy-apply-front/sacramento-motor-coach-operators-wanted/76240" class="btn cta" target="_blank">
								APPLY NOW
							</a>
						</div>
						<div class="left">
							<span>JOB TITLE:</span> Motor Coach Operator 
							<hr>
							<span>LOCATION:</span> Sacramento
						</div>
						<div class="right mob">
							<a class="learn-more" href="https://coachusa.jobs/index.php?option=com_recsite_front&task=showVacancy&id=76240&lang=en" target="_blank">
								Learn more
							</a>

							<a href="https://coachusa.jobs/vacancy-apply-front/sacramento-motor-coach-operators-wanted/76240" class="btn cta" target="_blank">
								APPLY NOW
							</a>
						</div>


						<div class="clear"></div>
					</div>
					<div class="job-card" data-animation="fadeInUp">
						<div class="right">
							<a href="https://coachusa.jobs/index.php?option=com_recsite_front&task=showVacancy&id=77097&lang=en" class="learn-more" target="_blank">
								Learn more
							</a>

							<a class="btn cta" href="https://coachusa.jobs/index.php?option=com_recsite_front&task=showVacancy&id=77097&lang=en" target="_blank">
								APPLY NOW
							</a>
						</div>
						<div class="left">
							<span>JOB TITLE:</span> Motor Coach Operator 
							<hr>
							<span>LOCATION:</span> Reno
						</div>

						<div class="right mob">
							<a href="https://coachusa.jobs/index.php?option=com_recsite_front&task=showVacancy&id=77097&lang=en" class="learn-more" target="_blank">
								Learn more
							</a>

							<a class="btn cta" href="https://coachusa.jobs/index.php?option=com_recsite_front&task=showVacancy&id=77097&lang=en" target="_blank">
								APPLY NOW
							</a>
						</div>

						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ABOUT OUR WORKERS -->
	<div class="container-fluid workers">
		<video controls poster="images/about-workers.jpg" width="100%" height="auto" id="video">
			<source src="https://s3-us-west-2.amazonaws.com/converted-video-usa/Allwest-Version2.mp4" type="video/mp4" />
			<object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360">
				<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
				<param name="allowFullScreen" value="true" />
				<param name="wmode" value="transparent" />
				<img alt="Alt West" src="images/about-workers.jpg" width="640" height="360" title="No video playback capabilities, please download the video below" />
			</object>
		</video>
		<div class="row wrapper">
			<div class="col-sm-12 text-center">
				<h2 data-animation="fadeInUp">
					Come drive with us!
				</h2>
				<h3 data-animation="fadeInUp">
					Experience what it's like working at All West
				</h3>	
			</div>
		</div>
		<div class="play-button" id="playVid">
			<img src="images/play.png" alt="">
		</div>
		<a href="#" class="btn cta">
			Watch the full video
		</a>
	</div>
	<!-- ABOUT ALL WEST -->
	<div class="container-fluid about-all-west" id="about">
		<div class="row wrapper">
			<div class="col-sm-12">
				<h2 class="text-center" data-animation="fadeInUp">
					About All West
				</h2>
				<div class="content-area" data-animation="fadeInUp">
					<p>
						All West Coachlines, Inc. is the leading provider of premium motorcoach transportation services to business, institutional and government clientele throughout California, Nevada and beyond&#8230; 
					</p>
					<a href="" class="expand">
						Read <span>More</span>
						<img src="images/arrow-down.png" alt="" class="down">
						<img src="images/arrow-up.png" alt="" class="up">

					</a>
					<div class="hidden collapse">
						<p>
							Centrally based in Sacramento, All West is strategically positioned to serve clients in the Bay Area, Central Valley and Reno/Tahoe markets. Begun as a family-owned local operation, and in spite of its solid growth over many decades, All West continues to enjoy a unique reputation as the most customer service-oriented and reliable motorcoach operation in the region. 
						</p>
						<p>
							Our fleet of quality buses and round-the-clock Service operation ensure that our clients are always treated with the best possible care and safety in every situation. 
						</p>
						<p>
							All West is currently seeking and training the best, most dedicated crewmembers in the industry. If you have what it takes to earn a role on our team, you&rsquo;ll be pleased to know All West Coachlines, Inc. is the only motorcoach service in the area that starts with a competitive compensation + benefits + retirement package which is backed by the size and strength of our international network of transportation companies. 
						</p>
						<p>
							But that&rsquo;s not all. Once you join All West, you&rsquo;ll also notice something special within our local team that can best be described as the most sought-after company culture in the business. 
						</p>
						<p>
							But don&rsquo;t take our word for it, check out these comments  from our team members. Every day, thousands of individuals trust All West Coachlines to deliver them safely and comfortably to their destinations. This is why we take our mission seriously, and why we want to know if you&rsquo;re the next valued team member who will help us fortify our standing as the elite motorcoach service in the industry!
						</p>

					</div>
					<div class="hidden collapse card-area">
						<div class="card">
							<!-- <div class="pic">
								<img src="images/profile.jpg">
							</div> -->
							<h3 class="name">Charter Driver</h3>
							<p class="quote">
								"What keeps me at All West is the camaraderie of drivers, rapport with passengers, and the desire to drive."
							</p>
						</div>
						<div class="card">
							<!-- <div class="pic">
								<img src="images/profile.jpg">
							</div> -->
							<h3 class="name">Motorcoach Driver</h3>
							<p class="quote">
								"The reason I work here is because they gave me a chance and trusted me. The people are good, so I feel loyal."
							</p>
						</div>
						<div class="card">
							<!-- <div class="pic">
								<img src="images/profile.jpg">
							</div> -->
							<h3 class="name">Charter Driver</h3>
							<p class="quote">
								"All West is a small company, good at listening, paying attention to what drivers' needs are."
							</p>
						</div>
						<div class="card">
							<!-- <div class="pic">
								<img src="images/profile.jpg">
							</div> -->
							<h3 class="name">Mechanic</h3>
							<p class="quote">
								"Good longstanding reputation, good equipment, good management."
							</p>
						</div>
						<div class="clear"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Contact US -->
<!-- 	<div class="container-fluid contact" id="contact">
		<div class="row wrapper">
			<div class="col-sm-12 text-center">
				<h2 data-animation="fadeInUp">
					Contact us
				</h2>
				<br>
				<h3 data-animation="fadeInUp">
					7701 Wilbur Way, Sacramento, CA 95828<br><br>
					+1 916-423-4000
				</h3>
				<a href="" class="btn cta" data-animation="fadeInUp">
					See Map
				</a>
			</div>
		</div>
	</div> -->
	<!-- Contact Us Section 2 -->
	<div class="container-fluid contact-2" id="contact">
		<div class="row wrapper">
			<div class="col-sm-12">
				<h2 class="text-center">
					Contact us
				</h2>
			</div>
			<div class="col-sm-6 match map">
				<iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.5053712721856!2d-121.39573853185482!3d38.476627301206996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac4314514afb9%3A0x149faa62e75f656!2s7701+Wilbur+Way%2C+Sacramento%2C+CA+95828%2C+USA!5e0!3m2!1sen!2suk!4v1507548559061" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-sm-6 chat match">
				<h3 data-animation="fadeInUp">
					Interested in joining our team?
				</h3>
				<br>
				<p data-animation="fadeInUp">
					Call or stop by our facility, no appointment necessary!
				</p>
				<p data-animation="fadeInUp">7701 Wilbur Way, Sacramento, CA 95828<br>
				916-423-4000</p>
				<br><br>
				<a href="tel:916-423-4000" class="btn" data-animation="fadeInUp"> 
					<img src="images/phone.svg" alt=""/>
					Call us
				</a>
				<a href="mailto:David.Cole@coachusa.com" class="btn" data-animation="fadeInUp">
					<img src="images/email.svg" alt=""/>
					Email us
				</a>

			</div>
			<div class="col-sm-6 relative match">
				<img src="images/mac.jpg" alt="" class="mac" data-300-top="top:30%;" data--250-top="top:55%;">
			</div>
			<div class="col-sm-6 message match">
				<h2 class="text-center" data-animation="fadeInUp">Drop us a message</h2>

				<form action="http://allwest.recsite.com/sendEmail.php">
					<input name="name" type="text" placeholder="Name" required data-animation="fadeInUp">
					<input name="email" type="email" placeholder="Email" required data-animation="fadeInUp">
					<textarea name="message" id="" placeholder="Message" required data-animation="fadeInUp"></textarea>
					<div class="g-recaptcha" data-sitekey="6LcJNzQUAAAAAMFySUOL2IkbzVX_6PRVfIK7W5uc" data-animation="fadeInUp"></div>
					<a class="submit" data-animation="fadeInUp">Submit</a>
				</form>
				<div class="success">
					<p>Thank you! Your message has been sent. We will be in touch.</p>
				</div>
				<div class="oops">
					<p>Oops! Something went wrong. Please try again or email us direct at: <a href="mailto:David.Cole@coachusa.com">David.Cole@coachusa.com</a></p>
				</div>
			</div>
			
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row wrapper text-center">
				<ul>
					<li>
						<a href="mailto:David.Cole@coachusa.com">
							Contact Us
						</a>
					</li>
					<li>
						<a href="https://coachusa.jobs/?option=com_recsite_front&task=document&title=privacy-policy" target="_blank">
							Privacy Policy
						</a>
					</li>

				</ul>
				<p>
					&copy;2017 All West Coachlines, Inc, all rights reserved.
				</p>

				<p>
					<a href="https://www.recsite.com/employer-branding.html" target="_blank">Recruiting Website</a> powered by  
					<img src="images/recsite.png" alt="" class="recsite_logo">
				</p>
			</div>
		</div>
	</footer>
	<div class="pop-out">
		<div class="overlay">
		</div>
		<div class="map">
			<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2740.5053712721856!2d-121.39573853185482!3d38.476627301206996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ac4314514afb9%3A0x149faa62e75f656!2s7701+Wilbur+Way%2C+Sacramento%2C+CA+95828%2C+USA!5e0!3m2!1sen!2suk!4v1507548559061" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="video">
			<video controls poster="images/about-workers.jpg" width="100%" height="auto" id="pop-out-video">
				<source src="https://s3-us-west-2.amazonaws.com/converted-video-usa/Allwest-video.mp4" type="video/mp4" />
				<object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="640" height="360">
					<param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
					<param name="allowFullScreen" value="true" />
					<param name="wmode" value="transparent" />
					<!-- <img alt="Alt West" src="images/about-workers.jpg" width="640" height="360" title="No video playback capabilities, please download the video below" /> -->
				</object>
			</video>
		</div>
	</div>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<script src="/dist/app.bundle.js"></script>
</body>
</html>